@charset "UTF-8";

/* 미디어쿼리 */
#main-header .title{
	display: none;
}
#main-header .nav{
	display: none;
}



/* 코드작성 시작 */
/* 전체 영역 */
body {
	background-color: white;
}
#body_container {
	min-width: 450px;
	max-width: 450px;
	height: 800px;
	margin: 0 auto;
	overflow-y: auto;
	position: relative;
	background-color: white;
}

/* 헤더 */
#header {
	position: fixed;
	background-color: white;
	max-width: 450px;
	min-width: 450px;
	height: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 5% 2% 5%;
	border-bottom: 1px solid lightgray;
	z-index: 10;
}
.header-icons {

}
.header-icon > img{
	width: 23px;
}

.logout_btn {
	text-decoration-line : none;
	color: black;
}

/* 컨테이너 작성 */
#container {
	position: absolute;
	width: 450px;
	top: 55px;
}
.weather {
	width: 330px;
	height: 150px;
	background-image: url("https://mysparta6712.s3.ap-northeast-2.amazonaws.com/admin/img/weather-background.jpg");
	background-size: cover;
	border-radius: 10px;
	padding: 15px;
	margin: 15px auto 0;
	filter: brightness(90%);
	font-size: 15px;
}
.weather > img {

}
.location {
	font-family: 'LeferiPoint-WhiteA';
	color: white;
	text-align: center;
	margin: 35px 0 25px;
}
.weather-icons {
	font-family: 'LeferiPoint-WhiteA';
	display: flex;
	justify-content: space-around;
	color: white;
}
.weather-icons img {
	width: 20px;

}
 #images_box{
	 padding-left: 58px;
 }
.images {
    min-width: 450px;
	overflow-y: auto;
	padding: 15px;
}
.images >.image {
    display: inline-block;
	position: absolute;
	min-width: 160px;
	max-width: 160px;
	/*padding: 10px 5px;*/
}
.image > img {
	width: 100%;
	border-radius: 10px;
}

.temperature {
	width: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}