@charset "UTF-8";
/* 미디어쿼리 */


/* 헤더 영역 */
/* 헤더: 전체 */
#main-header {
    display: none;
}

#mobile-header {
    z-index: 1;
	position: fixed;
	background-color: white;
	max-width: 500px;
	min-width: 500px;
	height: 54px;
	display: flex;
	border-bottom: 1px solid lightgray;
    flex-direction: row;
    justify-content: start;
    top: 0px;
}

#mobile-header > div {
    padding-left: 7%;
    padding-right: 7%;
    font-size: 20px;
}
#mobile-header > p {
    font-size: 16px;
    padding-top: 22px;
}
.back_allow {
    display: flex;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}


.profile-img {
    text-align: center;
    margin: 100px 0 30px 0;
}

.profile-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-img img:nth-child(2) {
    position: absolute;
    top: 50px;
    left: 50px;
}

.profile-nickname {
    font-size: 25px;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.profile-nickname i {
    color: darkgray;
}

.profile-nickname i:hover {
    color: #4158d0;
}

#main button {
    outline: none;
    border: none;
    display: block;
    margin: 25px auto 0;
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    /* font-weight: bold; */
    color: white;
    background-color: #ffa7a7;
    cursor: pointer;
    font-family: 'LeferiBaseType-RegularA';
    padding-top: 6px;
}

#main button:nth-child(1) {
    background-color: #a6c1ee;
}

#main button:nth-child(2) {
    background-color: #ffa7a7;
}

#main > a {
    text-decoration: none;
}

.nickname-input {
    border-radius: 10px;
    height: 35px;
    text-align: center;
}