@charset "UTF-8";

/* 미디어쿼리 */
#main-container {
    display: none;
}
video {
    display: none;
}
.selection-or {
    display: none;
}
.input_data img {
    display: none;
}
.service_title img {
    display: none;
}
.input_data input::placeholder {
    display: none;
}


/* 전체영역 */
body {
	background-color: white;


}
#body_container {
	min-width: 360px;
	max-width: 360px;
	height: 800px;
	margin: 0 auto;
	overflow-y: auto;
	position: relative;
	background-color: white;
    font-family: 'LeferiBaseType-RegularA';

}


.body_container{
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

/* 헤더 */
#header {
    z-index: 1;
	position: fixed;
	background-color: white;
	max-width: 360px;
	min-width: 360px;
	height: 54px;
	display: flex;
	border-bottom: 1px solid lightgray;
    flex-direction: row;
    justify-content: start;
    /*padding-top: 1%;*/
    /*padding-bottom: 1%;*/
}
#header > div {
    padding-left: 7%;
    padding-right: 7%;
    font-size: 20px;
}
#header > p {
    font-size: 16px;
    padding-top: 22px;
}
.back_allow {
    display: flex;
    align-items: center;
}


/* 메인부분작성 (가운데) */
#main {
    margin : 0 auto;
	position: absolute;
	width: 360px;
	top: 55px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size:cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../../img/fiveicon/clothbackground.png");
}
.body__inner{
    /* border: dashed blue; */
    max-width: 360px;
    height: 640px;
    width: 100%;
    background-color: #fff;
}
header.header_register{
    /* border: dashed red; */
    margin-left: 20px;
    height:60px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.header_register span{
    margin-top: 5px;
}

.body_register{
    /* border: dashed cornflowerblue; */
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*height: 90%;*/
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 8%;
}
.service_title{
    /*font-size: xx-large;*/
    /*color: silver;*/
    font-size: 48px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.register_title_img {
    width: 85%;
    height: 100%;
    object-fit: scale-down;
}

.input_wrapper{
    display: flex;
    flex-direction: column;
    width: 245px;
    padding: 20px;
}
.input_wrapper .input_data{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.input_wrapper .input_data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    background: transparent;
    outline: none;
}
.input_data input:focus ~ label,
.input_data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}
.input_wrapper .input_data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input_wrapper .input_data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background: white;
}

.input_data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transition: 0.3s ease;

}
.input_data input:focus ~ .underline:before,
.input_data input:valid ~ .underline:before{
    transform: scaleX(1);

}

.input_data i{
    position: absolute;
    left: 88%;
    top: 9px;
    color: silver;
    cursor: pointer;
}

.input_data input:focus ~ i,
.input_data input:valid ~ i{
    color: #4158d0
}

.input_wrapper button{
    margin-top: 40px;
    border: 2px solid silver;
    padding: 7px 28px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: rgba( 142, 201, 217, 0.8 );
    border-radius: 10px;

}
.input_wrapper button:hover{
    background-color: #4158d0;
    color: #fff;
    border-color: #4158d0;
}

.find_pw {
    text-align: right;
    font-size: 12px;
    color: white;
}

.platform_btn_register button{
    margin-top: 10px;
    border: 2px solid silver;
    padding: 18px 28px;
    font-size: 16px;
    cursor: pointer;
    line-height: 0;
    color: white;
    background-color: rgba( 244, 217, 46, 0.8 );
    border-radius: 10px;
}
.platform_btn_register button:hover{
    background-color: yellow;
    color: black;
    border-color: yellow;
}

.kakao_regist_btn_wrapper {
    width: 205px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify_content: center;
    align-items: center;
}

.kakao_regist_btn_wrapper > p {
    padding-left: 10px;
    font-size: 12px;
}

.kakao_signin_img {
    width: 30px;
    height: 30px;