#main-header {
	display: none;
}

body {
	background-color: white;
    color: black;

}

#body-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#mobile-header {
    color: black;
    z-index: 1;
	position: fixed;
	background-color: white;
	max-width: 450px;
	min-width: 450px;
	height: 54px;
	display: flex;
	border-bottom: 1px solid lightgray;
    flex-direction: row;
    justify-content: start;
	align-items: center;
	padding-left: 4%;
	font-size: 20px;
}


#main {
	min-width: 450px;
	max-width: 450px;
	height: 800px;
	margin: 0 auto;
	overflow-y: auto;
	position: relative;
	background-color: transparent;
    font-size: 17px;
    font-family: "Roboto"
}

.top-container {
    display: flex;
    justify-content: space-between;
    /* font-size: 22px; */
    /* height: 100px; */
    margin: 0px auto;
    width: 450px;
}







.weather-box {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    height: 100px;
    margin: 80px auto 20px;
    width: 400px;
}

.today-weather {
    text-align: center;
    border-top: 5px double darkgray;
    border-bottom: 5px double darkgray;
    padding: 10px 10px 10px;
}

.today-weather .title {
    padding-bottom: 5px;
    font-size: 20px;
}

.today-weather .location {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
}

.location i {
    color: mediumvioletred;
}

.weather-contents {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.weather-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.weather-content .info {
    border-radius: 50%;
    background-color: #042b44;
    width: 60px;
    height: 60px;
}






.bottom-container {
    display: none;
}

.mobile_bottom-container {
	margin-top: 30px;
}

.mobile-bottom-wrapper > div > img {
	width: 200px;
	height: 200px;
	float:left;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}