<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .pw-reset-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form_inner{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="pw-reset-wrapper">
        <form class="email-auth-form" method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class = 'form_inner'>
                <h2>비밀번호를 초기화</h2>
                <div class = 'wrapper'>

                <h4>비밀번호 초기화를 시작합니다.<br>회원님의 이메일을 입력하세요.</h4>
            </div>
            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="이메일을 입력해 주세요...">
            <button class="get-link-btn" type="submit">초기화 링크 받기</button>
            </div>
        </form>
    </div>
</body>
</html>