<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pw-reset-wrapper">
        <form class="email-auth-form" method="post" action="{% url 'password_reset' %}">
            <h4>비밀번호 초기화를 시작합니다.<br>회원님의 이메일을 입력하세요.</h4>
            {% csrf_token %}
            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            <button class="get-link-btn" type="submit">초기화 링크 받기</button>
        </form>
    </div>

</body>
</html>