{% extends './base.html' %}
{% load static %}
{% block add_head %}
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_update/add_update.css' %}"
          media="screen and (max-width: 360px)">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_update/desktop_add_update.css' %}"
          media="screen and (min-width: 361px)">

    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function upload(event) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                document.querySelector("div#image").innerHTML = '';
                document.querySelector("div#image").appendChild(img);
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        function form_submit() {
            document.getElementById('add_form').submit()
        }
    </script>
{% endblock add_head %}

{% block add_header %}
    {#  Desktop - 효정 추가(시작) #}
    <div id="main-header">
        <div class="title">
            <img src="{% static "img/desktop/tomorrow_clothes(검정).png" %}">
        </div>
        <div class="nav">
            <div><a href="">Main</a></div>
            <div><a href="">Weather</a></div>
            <div><a href="">My page</a></div>
            <div><a href="">Upload</a></div>
        </div>
    </div>
    {#  Desktop - 효정 추가(끝) #}

    {#  Mobile  #}
    <div id="header">
        <div class="back_allow">
            <i class="fas fa-arrow-left"></i>
        </div>
        {% if feed %}
            <p>포스트 수정</p>
        {% else %}
            <p>포스트 등록</p>
        {% endif %}
        <div class="right_icon">
            {% if feed %}
                <button onclick="form_submit()">수정</button>
            {% else %}
                <button onclick="form_submit()">등록</button>
            {% endif %}
        </div>
    </div>
{% endblock add_header %}

{% block add_body %}
    {% if feed %}
        <form id="add_form" action="/detail/feed/update/{{ feed.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="feed_img">
                <label class="mobile_label" for="upload_img">이미지 선택하기</label>
                <div id="image">
                    <img src="{{ feed.feeds_img_url.url }}">
                </div>
                <input type="file" id="upload_img" onchange="upload(event)" name="feeds_img_url">
                <input type="hidden" value="{{ feed.feeds_img_url.url }}">
            </div>
            <div class="feed_comment">
                <div class="top_icon">
                    {% if feed %}
                        <button type="submit">수정</button>
                    {% else %}
                        <button type="submit">등록</button>
                    {% endif %}
                </div>
                <p>코멘트 작성</p>
                <textarea class="comment" placeholder="글 내용을 입력하세요"
                          name="feeds_comment">{{ feed.feeds_comment }}</textarea>
            </div>
        </form>
    {% else %}
        <form id="add_form" action="/detail/feed/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="feed_img">

                <div id="image"></div>
                <input type="file" id="upload_img" onchange="upload(event)" name="feeds_img_url">
                <label class="mobile_label" for="upload_img">이미지 선택하기</label>
            </div>
            <div class="feed_comment">
                <div class="top_icon">
                    {% if feed %}
                        <button type="submit">수정</button>
                    {% else %}
                        <button type="submit">등록</button>
                    {% endif %}
                </div>
                <div class="desktop_label">
                    <label for="upload_img">이미지 선택하기</label>
                </div>
                <p>코멘트 작성</p>
                <textarea class="comment" placeholder="글 내용을 입력하세요" name="feeds_comment"></textarea>
            </div>
        </form>
    {% endif %}
{% endblock add_body %}