{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    {% block login_head %}
    {% endblock login_head %}

    {% block register_head %}
    {% endblock register_head %}

    {% block main_head %}
    {% endblock main_head %}

    {% block detail_head %}
    {% endblock detail_head %}

    {% block add_head %}
    {% endblock add_head %}

    {% block mypage_head %}
    {% endblock mypage_head %}

    {% block weather_head %}
    {% endblock weather_head %}

    {% block profile_head %}
    {% endblock profile_head %}


    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">

    {#  Favicon  #}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicon/apple-icon-60x60.png"%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-icon-72x72.png"%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicon/apple-icon-76x76.png"%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-icon-114x114.png"%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicon/apple-icon-120x120.png"%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicon/apple-icon-144x144.png"%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-icon-152x152.png"%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-icon-180x180.png"%}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "img/favicon/android-icon-192x192.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon/favicon-96x96.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png"%}">
    <link rel="manifest" href="{% static "img/favicon/manifest.json"%}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "img/favicon/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="">
</head>
<body>
<div id="body_container">
    {% block login_header %}
    {% endblock login_header %}
    {% block login_body %}
    {% endblock login_body %}

    {% block register_header %}
    {% endblock register_header %}
    {% block register_body %}
    {% endblock register_body %}

    {% block main_header %}
    {% endblock main_header %}
    {% block main_body %}
    {% endblock main_body %}

    {% block detail_header %}
    {% endblock detail_header %}
    {% block detail_body %}
    {% endblock detail_body %}

    {% block add_header %}
    {% endblock add_header %}
    {% block add_body %}
    {% endblock add_body %}

    {% block profile_header %}
    {% endblock profile_header %}
    {% block profile_body %}
    {% endblock profile_body %}

    {% block mypage_header %}
    {% endblock mypage_header %}
    {% block mypage_body %}
    {% endblock mypage_body %}

    {% block weather_header %}
    {% endblock weather_header %}
    {% block weather_body %}
    {% endblock weather_body %}

</div>
</body>
</html>
