<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/detail/detail.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/detail/detail.js"></script>
</head>

<body>
<div id="body_container">
    <div id="header">
        <div class="back_allow">
            <i class="fas fa-arrow-left"></i>
        </div>
        <p>상세페이지</p>
    </div>
    <div id="main">
        <div id="feed">
            <img src="https://t1.daumcdn.net/cfile/tistory/2506314551663BE811" alt="">
        </div>
        <hr>
        <div id="pro_auth_article">
            <div id="pro_img">
                <img src="https://usercontents-d.styleshare.io/images/31643203/640x-" alt="">
            </div>
            <div id="pro_info_user_at">
                <div class="my_name"><strong>Aurora</strong></div>
                <div class="my_name create_at">2022.03.09</div>
            </div>
            <div id="pro_style_tag">
                <span>#스타일명</span>
            </div>
            <div id="pro_icon">
                <i id="scrap" class="far fa-star" onclick="scraps(this)"></i>
                <span id="icon_scraps">3</span>
            </div>
        </div>
        <hr>
        <div class="post_comment">
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore minus, iste pariatur. Cumque non
                    deserunt eius adipisci quam minima molestias et, laborum maiores, cupiditate velit quod rerum,
                    saepe. Voluptatum, dolorum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore minus, iste pariatur. Cumque non
                    deserunt eius adipisci quam minima molestias et, laborum maiores, cupiditate velit quod rerum,
                    saepe. Voluptatum, dolorum.
                </p>
            </article>
        </div>
        <div class="comment_container">
            <div class="comment_header">
                <div class="speach_bubble_wrapper">
                    <i class="far fa-comment"></i>
                </div>
                <div class="share_wrapper">
                    <i class="fas fa-share-alt"></i>
                </div>
            </div>
            <hr>
            <div class="comment_section">
                <div class="comment_article">
                    <div class="comment_img_wrapper">
                        <div class="comment_img">
                            <img src="https://cdn.pixabay.com/photo/2020/05/17/20/21/cat-5183427__340.jpg" alt="">
                        </div>
                    </div>

                    <div class="comment_info">
                        <div>사용자명</div>
                        <div>
                            <p>
                                deserunt eius adipisci quam minima molestias et, laborum maiores, cupiditate velit quod
                                rerum, saepe. Voluptatum, dolorum.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="comment_detail">
                    <div><span>162</span>개의 이전 댓글 보기</div>
                </div>
            </div>
        </div>
    </div>
    <section>
    </section>
</div>
</body>
</html>