{% extends "base.html" %}
{% load static %}

{% block login_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/login.css' %}"
          media="screen and (max-width: 360px)">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/desktop_login.css' %}"
          media="screen and (min-width: 361px)">

    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="{% static 'js/register/register.js' %}"></script>
    <script type="text/javascript" src="{% static "js/login/login.js" %}"></script>
    <script>
        function login_submit() {
            console.log("aasdfasfddsaf")

            let username = document.getElementById('username').value
            let password = document.getElementById('password').value
            let form = document.createElement("form");
            console.log("password :   " + password)
            form.setAttribute("charset", "UTF-8");
            form.setAttribute("method", "post");
            form.setAttribute("action", "{% url 'test_1:login' %}");
            let input_field = document.createElement("input");
            input_field.setAttribute("type", "text");
            input_field.setAttribute("name", "username");
            input_field.setAttribute("value", username);
            form.appendChild(input_field);
            input_field = document.createElement("input");

            input_field.setAttribute("type", "password");
            input_field.setAttribute("name", "password");
            input_field.setAttribute("value", password);
            form.appendChild(input_field)


            document.body.appendChild(form);
            form.submit()
        }
    </script>

{% endblock login_head %}
{% block login_header %}
    {#  Mobile  #}
    <div id="header">
        <div class="back_allow" onclick="window.history.back()">
            <i class="fas fa-arrow-left"></i>
        </div>
        <p>로그인</p>
    </div>
{% endblock login_header %}
{% block login_body %}
    <div id="main">
        <div class="login_container_wrapper">
            <div class="video-wrapper">
                <div class="content-overlay"></div>
                <video autoplay loop muted>
                    <source src="{% static "img/desktop/clothes_login.mp4" %}">
                </video>
            </div>
            <div class="login_title">
                <img src="{% static "img/desktop/tomorrow_clothes(흰색).png" %}">
            </div>
            <div class="login_main_wrapper">
                <div class="login_input_wrapper">
                    <div class="login_input_wrapper2">
                        <img src="{% static 'img/desktop/로그인페이지_이메일아이콘.png' %}">
                        {#                        <span class="login_span_email">이메일</span>#}
                        <input class="login_em_input" type="text" style="border:0 solid black;" name="username"
                               id="username" value="{{ form.username.value|default_if_none:'' }}"
                               placeholder="이메일">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="login_line"></div>
                </div>
                <div class="login_input_wrapper">
                    <div class="login_input_pw">
                        <img src="{% static 'img/desktop/로그인페이지_비밀번호아이콘.png' %}">
                        {#                        <span class="login_pw_wrapper">비밀번호</span>#}
                        <input type="password" id="password" class="login_pw_input" name="password"
                               value="{{ form.password.value|default_if_none:'' }}"
                               placeholder="비밀번호">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="login_line"></div>
                    <div class="login_find_pw">
                        <div><a href="/password_reset/">비밀번호 찾기</a></div>
                    </div>
                </div>
                <button class="login-button" onclick="login_submit()" value="Login">
                    LOGIN
                </button>
                <div class="selection-or">OR</div>
                {% load socialaccount %}
                <div class="login_social">
                    <a href="{% provider_login_url 'kakao' method='oauth2' %}">카카오톡</a>
                </div>
                <div class="desktop_login_social">
                    <a href="{% provider_login_url 'kakao' method='oauth2' %}">
                        <button>Sign in with Kakao</button>
                    </a>
                </div>
                <div class="link-register"><a href="/register/">계정</a>이 없으신가요?</div>
            </div>
        </div>
    </div>
{% endblock login_body %}

