{% extends "./base.html" %}
{% load static %}


{% block main_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %}">
    <script type="text/javascript" src="{% static 'js/main/main.js' %}"></script>
{% endblock main_head %}


{% block main_header %}
    <div id="header">
        <div class="header-icon"><img src="{% static 'img/upload.png' %}"></div>
        <div class="header-icon"><img src="{% static 'img/hanger.png' %}"></div>
        {% if user.is_authenticated %}
            <a href="{% url 'test_1:logout' %}">{{ user.username }}로그아웃</a>
        {% else %}
            <div class="header-icon">
                <a>
                    <img src="{% static 'img/login.png' %}">
                </a>
            </div>
        {% endif %}
    </div>
{% endblock main_header %}


{% block main_body %}
    <div id="container">
        <div class="weather">
            <div class="location">서울시 광양구</div>
            <div class="weather-icons">
                <div class="weather-icon">12°C</div>
                <div class="weather-icon">날씨</div>
                <div class="weather-icon">강수</div>
                <div class="weather-icon">미세먼지</div>
            </div>
        </div>
        <div class="images">
            {% for p in test %}
                <div class="image">
                    <img src="{{ p.feeds_img_url.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer"></div>
{% endblock main_body %}
