{% extends "./base.html" %}
{% load static %}


{% block main_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %}">
    <script type="text/javascript" src="{% static 'js/main/main.js' %}"></script>
    <script>
        document.addEventListener('scroll', function() {

});
    </script>
{% endblock main_head %}



{% block main_header %}
    <div id="header">
        <div class="header-icon"><img src="{% static 'img/upload.png' %}"></div>
        <div class="header-icon"><img src="{% static 'img/hanger.png' %}"></div>
        <div class="header-icon"><img src="{% static 'img/login.png' %}"></div>
    </div>
{% endblock main_header %}



{% block main_body %}

    <div id="container">
        <div class="weather">
            <div class="location">서울시 광양구</div>
            <div class="weather-icons">
                <div class="weather-icon">12°C</div>
                <div class="weather-icon">날씨</div>
                <div class="weather-icon">강수</div>
                <div class="weather-icon">미세먼지</div>
            </div>
        </div>
        <div class="images">
            {% for p in test %}
                <div class="image">
                    <img src="{{ p.feeds_img_url.url }}">
                </div>
            {% endfor %}

            {#            {% for i in "x"|rjust:"10" %}#}
            {#                <div class="image"><img src="{% static 'img/chu2.jpg' %}"></div>#}
            {#                <div class="image"><img src="{% static 'img/wonyoung.jpg' %}"></div>#}
            {#                <div class="image"><img#}
            {#                        src="https://i.guim.co.uk/img/media/ac3752eb2a2a5170e2881b9e47f79f5c60d150a0/0_150_4500_2700/master/4500.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=8931e73900fa54622435e86961d7a6cb">#}
            {#                </div>#}
            {#                <div class="image"><img src="{% static 'img/chu.jpeg' %}"></div>#}
            {#                <div class="image"><img#}
            {#                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7cEjVUtCpQDMdKkIYTB4a17Szz-Gkze0Fjw&usqp=CAU">#}
            {#                </div>#}
            {#            {% endfor %}#}

        </div>
    </div>
    <div id="footer"></div>
{% endblock main_body %}
