{% extends "./base.html" %}
{% load static %}
{% block register_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <title>Tomorrow Clothes</title>

    {#  Mobile  #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register/register.css' %}"
          media="screen and (max-width: 450px)">
    {#  Desktop  #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register/desktop_register.css' %}"
          media="screen and (min-width: 451px)">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script defer src="{% static 'js/register/register.js' %}"></script>
    <script>
        function email_reduplication(email) {
            {#let test = {"email": "asd", "eee": "123123"};#}
            {#console.log(typeof test);#}
            $.ajax({
                url: '/register/reduplication',
                type: 'POST',
                data: JSON.stringify({'email': email}),
                {#data: test,#}
                datatype: 'json',
                success: function (response) {

                    if (String(Object.keys(response)) === 'error') {
                        $('#emailerror').html(response.error)
                        {#alert(response.error)#}
                    } else {
                        $('#emailerror').html(response.success)
                    }
                }
            })
        }

        function password_reduplication(password) {
            $.ajax({
                url: '/register/password',
                type: 'post',
                data: JSON.stringify({'password': password}),

                datatype: 'json',

                success: function (response) {

                    if (String(Object.keys(response)) === 'error') {
                        $('#passworderror').html(response.error)
                        {#alert(response.error)#}
                    } else {
                        $('#passworderror').html(response.success)
                    }
                }
            })
        }
    </script>
{% endblock register_head %}



{% block register_header %}
    {#  Mobile  #}
    <div id="header">
        <div class="back_allow" onclick="window.history.back()"><i class="fas fa-arrow-left"></i></div>
        <p>회원가입</p>
    </div>
{% endblock register_header %}



{% block register_body %}
    <div id="main">
        <div class="video-wrapper">
            <div class="content-overlay"></div>
            <video autoplay loop muted>
                <source src="{% static "img/desktop/clothes_login.mp4" %}">
            </video>
        </div>
        <section class="body_register">
            <div class="service_title">
                <img class="register_title_img" onclick="window.location.href = '/'" src="{% static "img/desktop/tomorrow_clothes(흰색).png" %}">
            </div>
            <form class="input_register" action="{% url 'test_1:register' %}" method="post">
                {% csrf_token %}
                <div class="input_wrapper">
                    <div class="input_data">
                        <img src="{% static 'img/desktop/로그인페이지_닉네임아이콘.png' %}">
                        <input type="text" name="nick_name" placeholder="Nickname" required/>
                        <div class="underline"></div>

                    </div>
                    <div class="input_data">
                        <img src="{% static 'img/desktop/로그인페이지_이메일아이콘.png' %}">
                        <input type="text" name="email" placeholder="Email" onchange="email_reduplication(value)"
                               required/>
                        <div class="underline"></div>


                        <p id="emailerror"></p>

                    </div>
                    <div id="password" class="input_data">
                        <img src="{% static 'img/desktop/로그인페이지_비밀번호아이콘.png' %}">
                        <input type="password" id="show_password" name="password"
                               placeholder="Password" onchange="password_reduplication(value)" required/>
                        <i class="fas fa-eye"></i>
                        <div class="underline"></div>
                        <p id="passworderror"></p>
                    </div>
                    <button type="submit">Register</button>
                </div>
            </form>
            <span>간편하게 시작하기</span>
            <div class="selection-or">OR</div>
            {% load socialaccount %}
            <div class="login_social kakao_regist_btn_wrapper">
                <a href="{% provider_login_url 'kakao' method='oauth2' %}">
                    <button class="kakao_singup_str" >Sign in with Kakao</button>
                </a>
            </div>
            {#            <div class="platform_btn_register">#}
            {#                <button>kakao</button>#}
            {#            </div>#}
        </section>
    </div>
    <div id="footer"></div>
{% endblock register_body %}